@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Poppins", serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.schedule-text{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

h1 {
  font-weight: 800;
  margin: 1rem 0 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  list-style: none;
}

ul li {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin: 0.25rem;
  flex-flow: column;
  border-radius: 0.2rem;
  padding: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

ul li time {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

ul li.today {
  background: #8E8FFA;
  color: white;
}

/* For smaller screens */
@media screen and (max-width: 768px) {
  ul li {
    width: calc(50% - 0.5rem);
  }
}

/* For even smaller screens */
@media screen and (max-width: 480px) {
  ul li {
    width: 100%;
  }
}
