.mealselect{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mealtypetext{
  font-weight: bold;
}

.mealtypeinput{
  padding: 10px;
  border-radius: 5px;
}

.additemmenu{
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  margin-bottom: 10px;
}

.additemmenutext{
  font-weight: bold;
}

.addedItems{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.additem{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.additeminput{
  padding: 15px;
  width: 80%;
  margin-right: 6px;
}

.additembutton{
  background-color: #7752FE;
  padding: 15px;
  border-radius: 4px;
  color: white;
  width: 15%;
}

.additembutton:hover{
  background-color: #190482;
  color: white;
}

.food-park-menu-update{
  padding: 40px;
}

.filteredfoods{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 500px;
  overflow-y: scroll;
  gap: 10px;
  padding: 10px;
  background-color: white;
  overflow-x: hidden;
}

.filteredfood{
  padding: 10px;
  color: black;
  width: 100%;
  color: black;
  border-radius: 4px;
}

.filteredfood:hover{
  cursor: pointer;
  background-color: #8E8FFA;
}

.addedItems{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addeditemstext{
  font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
  }
  
  /* Style table header */
  th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr {
    border-bottom: 1px solid #ddd;
  }
  
  td {
    padding: 8px;
  }
  
  button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d62c1a;
  }
  
@media (max-width: 500px) {
    table{
        font-size: 12px;
    }

    .additemmenu{
      width: 100%;
    }

    .additembutton{
        padding: 11px;
        width: 25%;
        font-size: 14px;
    }
}