.hero{
    background: #C2D9FF;
}

.hero-text-1 {
    color: #190482;
    font: bold 20px sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .hero-text {
    flex: 1;
    text-align: center;
    max-width: 50%; 
  }

  .hero-text span{
    color:#190482;
    font: bold 20px sans-serif;
  }
  
  .hero-img {
    flex: 1; /* Take up remaining space */
    max-width: 50%; /* Limit image width */
    display: flex;
    justify-content: center; /* Center image horizontally */
  }
  
  .hero-img img {
    max-width: 100%; /* Make image responsive */
    height: auto;
  }

   
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }

  .services-txt{
    text-align: center;
  }
  
.Services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 880px){
    .hero-section{
        flex-direction: column;
    }

    .hero-img img{
        width: 100%;
        height: 100%;
    }

    .Services{
        flex-direction: column;
    }

}