@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,900;1,600&family=Playfair+Display:wght@600&family=Poppins:wght@400;600&family=Red+Rose:wght@700&family=Rubik:wght@400;500;700&display=swap');

.hero {
    background: linear-gradient(90deg, rgba(167,169,255,1) 15%, rgba(142,143,250,0.9136029411764706) 51%, rgba(142,143,250,1) 89%, rgba(134,123,251,1) 100%, rgba(194,217,255,1) 100%, rgba(119,82,254,0.8015581232492998) 100%);
    margin-bottom:8vh;
    width: 100%;
}


.hero-text-1 {
    flex-direction: column;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.hero-text-1 p{
    padding:2%;
    border-radius:0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.services-mini{
    flex-direction: row;
    font: bold 15px sans-serif;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}

.services-mini p{
    padding:2%;
    border-radius:0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.languages {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    flex-direction: row;
}


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .hero-text {
    flex: 1;
    text-align: center;
    font: bold 20px sans-serif;
    max-width: 50%; 
  }

  .sp1{
    color:white;
    font-family: "Libre Baskerville", serif;
    font: bold 50px sans-serif;
    font-weight: 700;
  }

  .sp2{
    color:190482;
  }
  
  .hero-img {
    flex: 1; /* Take up remaining space */
    max-width: 50%; /* Limit image width */
    display: flex;
    justify-content: center; /* Center image horizontally */
  }
  
  .hero-img img {
    max-width: 100%; /* Make image responsive */
    height: auto;
  }

   
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }

  .services-txt{
    text-align: center;
  }

  .services-txt p{
    font-weight: 700;
    margin-bottom:0;
  }

    .services-txt h1{
        font: bold 50px sans-serif;
        color: white;
        margin: 0;
    }
  
.Services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 880px){
    .hero-section{
        flex-direction: column;
    }

    .hero-text-1{
      padding: 2%;
    }

    .languages{
      flex-wrap: wrap;
      gap: 1.5%;
    }


    .hero-img img{
        width: 100%;
        height: 100%;
    }

    .Services{
        flex-direction: column;
    }

    .hero-text{
        max-width: 80%;
    }

    .services-mini{
        flex-wrap: wrap;
        gap:1%;
    }

}