.laundry{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.heroSection{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.heroDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.heroTitle{
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
}

.services{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.laundry__card{
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: 10px;
    background-color: #8E8FFA;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laundry__card__title{
    font-weight: 800;
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.laundry__card__img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.washing-machine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.laundry__card:hover{
    background-color: #7752FE;
}

@media (max-width: 900px) {
    .laundry__card{
        width: 15%;
    }
}

@media (max-width: 500px) {

    .heroDetails{
        width: 100%;
    }

    .heroSection{
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-left: 30px;
    }

    .laundry__card{
        height: 180px;
        width: 35%;
    }
}
