@import url("https://fonts.google.com/specimen/DM+Sans");


body {
    font-family: 'DM Sans', sans-serif; /* Apply DM Sans font to the body */
}


.lost-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.lost-heading{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2rem;
    margin: 20px 0;
}

.lost-heading h2{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:20vw;
}

.lost-item-tile {
    border: 1px solid #ddd;
    margin:2rem;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #C2D9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lost-item-tile img {
    max-width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    padding-top: 10px;
}

.item-details p {
    margin: 5px 0;
}

.item-details strong {
    font-weight: bold;
    margin-right: 5px;
}

@media (max-width: 880px) {
    .lost-item-tile {
        margin:2rem;
    }
}
