body {
    margin: 0;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: .4rem !important;
    border-radius: 5px;
    text-decoration: none;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-bottom: 1vh;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

.navbar {
    padding:2rem;
    padding-bottom:0;
    padding-top: 0;
    color:#190482;
    display: flex;
    align-items: center;
    font-family: Helvetica;
    font-weight: 800;
    flex-direction: row;
}

.navbar__title {
    margin-right: auto;
    padding: 12px 16px;
    color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
}

.navbar__title span{
	color:  #190482;
	font: bold 20px sans-serif;
}

.navbar__item {
    padding: .7rem;
    cursor: pointer;
    vertical-align: middle;
}



@media (max-width: 880px) {
    .navbar{
        flex-direction:column;
    }
}