body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    color:#190482;
    display: flex;
    align-items: center;
    font-family: Helvetica;
    font-weight: 800;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
    color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
}

.navbar__title span{
	color:  #190482;
	font: bold 20px sans-serif;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}